.Cont_Co_crd{
    // background-color: rgb(252, 153, 32);
    margin:0 6%;
    padding: 5px;
    border-radius: 10px;
}
.hui87I{
    display: flex;
    justify-content: flex-start;
    gap:25px;
    margin-top: 15px;
    overflow-x: scroll;
    color: white;
}
.crd_cont_980{
    flex-shrink: 0;
    border-radius: 10px;
    padding: 10px;
    height: 190px;
    width: 175px;

}
.CRd-Cont_btm763j{
    background-color: aqua;
    position: relative;
    bottom: 0;
    right:0;
    top:100px;
    left: 50px;
    width: 50px;
}