.cont_footer_09 {
    margin-top: 20px;
    background-color: rgb(31, 36, 79);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.box76_ {
    padding: 10px 10px;
}

.Thghjm {
    text-decoration: none;
    color: white;
}