.cont_789{
    margin-top: 25px;
    color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
}