.nav_bg{
    // box-sizing: 0;
    background-image: linear-gradient(to right top, #06271f, #022725, #01282b, #04272f, #0b2732);
}
.cont{
    background-color: aliceblue;
}
.menu__{
    display: block;
    transform: translateY(-95%);
}
.men{
    display: none;
}
